@import '../../../sass/settings/fonts';
@import '../../../sass/settings/color';
//Home Page
.wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .left-side {
        display: block;
        float: left;
        padding: 20px;
    }
    .right-side {
        
    }
}
.title {
    color: $color-text;
    font-size: 35px;
    line-height: 1.5em;
    padding-left: 30px;
    &.wrapper-title {
        &::after {
            content: "";
            width: 50px;
            display: block;
            height: 15px;
            border-top: 6px solid #ffffff;
        }
    }
}
.main-text {
    color: $color-text;
    padding-top: 25px;
    //padding-left: 20px;
    line-height: 25px;
    padding-left: 50px;
    font-size: 20px;
    // &::first-letter{
    //     color: $color-gold;
    //     font-weight: bold;
    //     float: left;
    //     padding-right: 8px;
    //     margin-top: -3px;
    //     font-size: 55px;
    //     line-height: 52px;
    // }
    span.main-text {
        color: $color-gold;
        font-weight: bold;
        font-size: 55px;
    }

    &.main-text-home {
        padding-left: 70px;
        font-size: 15px;
    }
}

//Dashboard 
.main-dashboard {
    // display: flex;
    // justify-content: flex-start;
    // align-items: baseline;
    background-color: #F8FAFB;
    

    .widget {
        height: auto;
    }

    .message-income {
        height: 250px;
        .form {
            height: 100%;

            .form-button {
                margin-right: 10px;
                margin-top: 10px;
            }
        }
    }

    .nav-tabs {
        display: block;
        margin: 0 auto;
        width: 300px;
        height: 30px;
        background-color: $color-white;
        border: 1px solid #dedede;
        border-radius: 3px;
        display: flex;
        justify-content: space-between;

        .nav-item {
            text-align: center;
            padding: 5px;
            width: 150px;
            &.active {
                background-color: #1ab1de;
            }
            .nav-link {
                color: $color-dark-grey;
                text-decoration: none;
                font-size: 14px;
                &.active {
                    color: $color-white;
                }
            }
        }
    }
    .message-income-paragraph {
        font-size: 14px;
        color: $color-dark-grey;
    }
}
