@import 'settings/color';
@import 'settings/inputs';
@import 'settings/responsive';
@import 'settings/spacing';
@import 'settings/fonts';
@import 'settings/reset';
@import 'settings/layout';
@import 'mixins/queries';
@import '../js/views/scss/views';
*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: $font-stack;
}
.image-savings {
    background-image: url('../images/picture_1.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 80%;
    height: 100%;
}
.image-savings-2 {
    background-image: url('../images/picture_4.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 80%;
    height: 400px;
    background-position: top;
    transform: rotate(-7deg);
}
.image-savings-4 {
    background-image: url('../images/picture_2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 90%;
    height: 400px;
}
.image-analytics {
    background-image: url('../images/analytics.png');
    width: 100%;
    height: 100%;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
}
.image-forms {
    background-image: url('../images/google-forms.png');
    width: 100%;
    height: 100%;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
}
.image-summary {
    background-image: url('../images/monthly_calendar.png');
    width: 100%;
    height: 100%;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
}
.logo .logo-image {
    background-image: url('../images/logo_savings.png');
    width: 62px;
    height: 57px;
    background-size: cover;
    display: block;
    position: absolute;
    top: -26px;
    left: 60px;
}
.input-datepicker {
    box-sizing: border-box;
    width: 180px;
    height: 25px;
    border-radius: 3px;
    padding-left: 10px;
    background-image: url('../images/calendar.png');
    background-position: 95% 50%;
    background-repeat: no-repeat;
    color: $color-violet;
    font-weight: bold;
    border: 1px solid $color-table-cell-border;
    font-size: 14px;
    &:hover {
        cursor: pointer;
    }
    &:focus-visible {
        outline: none;
    }
}
