/* Colors */
$color-white: #fff;
$color-black: #000;
// $color-blue: #2589C7;
$color-blue: #4f7790;
$color-blue-dark: #3a57ee;
// $color-violet: #605E85;
$color-violet: #348fd9;
$color-gold: #FFBD49;
// $color-text: #474747;
$color-text: #fff;

$color-orange: #f26d21;


/* Colors Greys */
$color-dark-grey: #474747;
$color-medium-grey: #5D5D5D;
$color-light-grey: #dedede;

/* Specificity */
$color-table-head-label: $color-black;
$color-breadcumbs: $color-dark-grey;
$color-separator: #E3E3E3;
$color-input-border: #DBDBDB;
$color-table-cell-border: #dedede;
$color-box-shadow: #f5f5f5;

/* Icons */
$color-icon: #5D5D5D;
$color-icon-hover: #373737;
$color-icon-active: $color-blue;

/* Buttons*/
$color-btn-primary: #0E62FB;
$color-btn-primary-hover: #367DFF;
$color-btn-primary-active: #0C51CF;
$color-btn-secondary: #B2B2B2;
$color-btn-secondary-hover: #C7C7C7;
$color-btn-secondary-active: #7E7E7E;
$color-btn-danger: #E86100;
$color-btn-danger-hover: #ff852d;
$color-btn-danger-active: #d15700;



/* Shadows*/
$color-shadow-basic: #dedede;

/* BIG Backgrounds */
$color-main-content-background: #F7F7F7;
$color-side-menu-background: #F7F7F7;

$color-header-background: #f3f3f3;
$color-primary: #0E62FB;
$color-secondary: #07307A;
$color-complementary-grey: #7E7E7E;
$color-table-head-label: #2E2E2E;
$color-breadcumbs: #474747;
$color-whitish:#CCC;

$color-dark: #333;
$color-gray: #676767;
$color-lightGray: #7a7a7a;
$color-lightBlack:#414141;
$color-slateGray:#818181;
$color-lightSlateGray:#b2b2b2;

/*LoginSystemAdmin , Login*/
$color-navy:#3471BE;

/*sidebar*/
$color-shadow:rgba(0, 0, 0, 0.062);
$color-backgroundSidebar:#F7F7F7;

/*Bp Header*/
$color-progress-main: #D5D5D5;
$color-progress-primary: $color-blue;

/*AdminDashboard*/
$color-adminGray:rgb(3, 2, 2);
$color-cardBackground: #E8E8E8;

/*Login*/
$color-backgroundLogin:#F7F7F7;

/*Systemadmin1*/
$color-systemDark:#616161;
$color-backgroundSystem:#F7F7F7;
$color-rowColor: #EBEBEB;

/*Audit Trail*/
$color-tr-hover: #D9E2EB;

/*User*/
$color-checkBox-Background: #e7e7e7;
$color-dropdown-select: #cccccc;
$color-status-active: #548E1A;
$color-status-inactive: #FF0000;
$color-status-pending: #FFAA3B;
$color-background-success: #8DDC88;
$color-background-error: #FB8B8B;
$color-background-active: #ACC4D9;

/* Message */
$color-error-text: #e3342f;
$color-error-message: #FF0000;

/* Tables */
$color-background-thead: #E6EFFF;