@import '_color.scss';
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
    box-sizing: border-box;
}

body {
    line-height: 1;
    background: $color-white;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote {

    &:before,
    &:after {
        content: '';
    }
}

q {

    &:before,
    &:after {
        content: '';
    }
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

//Display Helpers
.d-block {
    display: block;
}
.d-flex {
    display: flex;
}
.d-flex-column {
    display: flex;
    flex-direction: column;
}
.d-flex-row {
    display: flex;
    flex-direction: row;
}
.justify-between {
    justify-content: space-between;
}

.float-right {
    float: right;
}
.float-left {
    float: left;
}

//Positions
.position-absolute {
    position: absolute;
}
.position-relative {
    position: relative;
}

.vdp-datepicker__calendar {
    width: 180px !important;
    height: auto;
    border-radius: 7px !important;
    border: 1px solid $color-input-border !important;
    box-shadow: 1px 1px 2px $color-separator;
    // font-family: $font-stack;
    font-size: 12px;
    font-weight: normal;

    header .prev:after {
        border: 4px solid transparent !important;
        border-right: 6px solid $color-blue-dark !important;
        
    }

    header .next:after {
        border: 4px solid transparent !important; 
        border-left: 6px solid $color-blue-dark !important;
    }

    .cell {
        line-height: 30px !important;
        height: 30px !important;
    }
    .cell.day {
        width: 34px;
        height: 34px;
        white-space: nowrap;
        &:hover {
            background: $color-btn-primary !important;
            color: $color-white;
            border: 1px solid $color-btn-primary;
            border-radius: 7px;
        }
    }
    .cell.day.blank {
        &:hover {
            background: none !important;
            color: $color-white;
            border: 1px solid $color-white;
            border-radius: 7px;
        }
    }
    .day-header {
        padding-top: 5px;
        &:hover {
            color: $color-black;
            border: 1px solid $color-white;
        }
    }
    .cell.selected {
        color: $color-btn-primary;
        background: none !important;

    }
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.nav a {
    font-weight: bold;
    color: $color-white;
    padding-left: 20px;
    text-decoration: none;
}
.nav a.router-link-exact-active {
    background-color: $color-blue-dark;
    &:hover {
        background-color: rgba($color-blue-dark, 0.9);
        opacity: 1;
    }
}
.logo {
    position: relative;
    top: 13px;
    .logo-text {
        // background: #1e5799; /* Old browsers */
        // background: #fefcea; /* Old browsers */
        // background: #f1da36; /* Old browsers */
        // background: #ffbd49; /* Old browsers */
        // background: #ffbd49; /* Old browsers */
        // background: -moz-linear-gradient(45deg, #ffbd49 30%, #fefcea 81%); /* FF3.6-15 */
        // background: -webkit-linear-gradient(45deg, #ffbd49 30%,#fefcea 81%); /* Chrome10-25,Safari5.1-6 */
        // background: linear-gradient(45deg, #ffbd49 30%,#fefcea 81%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        // -webkit-background-clip: text;
        // -webkit-text-fill-color: transparent;
        color: $color-white;
        font-size: 30px;
        font-weight: bold;
    }
    width: 50%;
}
.links {
    display: flex;
    justify-content: flex-end;

    .link-nav  {
        padding: 0 5px;
        min-width: 112px;
        height: 32px;
        line-height: 32px;
        border-radius: 7px;
        color: $color-white;
        font-size: 14px;
        transition: all 0.3s ease-in;
        font-weight: bold;
        margin-right: 10px;
        text-align: center;

        &.button-signup {
            background-color: $color-orange;
            padding: 0 16px;
            &:hover {
                background-color: rgba($color-orange, 0.9);
                opacity: 1;
            }
        } 

        &:hover {
            cursor: pointer;
            opacity: .7;
        }
    }
}
.header {
    // display: flex;
    // justify-content: flex-end;
    padding: 20px;
}
//Text helpers
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}

.font-bold {
    font-weight: bold;
}
.font-normal {
    font-weight: normal;
}


