//Style for width, height, padding, margin 

.w-100 {
    width: 100%;
}
.w-70 {
    width: 70%;
}
.w-60 {
    width: 60%;
}
.w-50 {
    width: 50%;
}
.w-40 {
    width: 40%;
}
.w-30 {
    width: 30%;
}

//Inner Spacing
.p-t-10 {
    padding-top: 10px;
}